* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

header {
	background-color: #24282B;
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid #1293D4;
}

header p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}

header p span {
	color: #1293D4;
}

header nav ul {
	display: flex;
	/* Hace que los <li> estén en línea */
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin-left: 40px;
	/* Espaciado entre enlaces */
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li .azul {
    color: #1E86D4;
}

.suscribete {
	background-color: #24282B;
	padding: 30px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.suscribete p {
	font-size: 25px;
	font-weight: bold;
}

.suscribete .text {
	padding: 8px;
	width: 280px;
}

.suscribete .btn {
	padding: 10px;
	background-color: #E8491D;
	border: none;
	color: white;
	cursor: pointer;
	margin-right: 20px;
	width: 100px;
}

.principal {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 45px;
	margin: 20px 120px 10px;
	max-width: 1200px;
}

.nosotros {
	width: 70%;
}

.nosotros h2 {
	padding: 0 7px 10px;
}

.parrafo1, .parrafo2 {
	margin: 15px 6px;
}

.parrafo2 {
	background-color: #35424A;
	padding: 15px;
	color: #ffffff;
}

.imagen{
	margin: 6px;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.que-hacemos {
	width: 27%;
	background-color: #35424A;
	color: #ffffff;
	padding: 30px 20px;
}

.que-hacemos .titulo {
	font-weight: bold;
}

.que-hacemos .descripcion {
	margin-top: 20px;
}

footer {
	width: 100%;
	background-color: #1293D4;
	padding: 42px;
	color: #ffffff;
	text-align: center;
}