* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #24282B;
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid #1293D4;
}

header p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}

header p span {
	color: #1293D4;
}

header nav ul {
	display: flex;
	/* Hace que los <li> estén en línea */
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin-left: 40px;
	/* Espaciado entre enlaces */
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li .azul {
    color: #1E86D4;
}

.encabezado {
	background: url(../assets/images/cabecera.jpg);
	text-align: center;
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center center;
}

.encabezado-textos {
	display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    flex-direction: column;
    width: 100%;
    min-height: 50vh; /* Esto asegura que el contenedor ocupe la mitad de la ventana */
    text-align: center;
}

.encabezado-textos h1 {
	font-size: 50px;
	color: white;
	margin-bottom: 20px;
}

.encabezado-textos p {
	font-size: 20px;
	width: 76%;
	margin: 0 auto;
	color: white;
}

.suscribete {
	background-color: #24282B;
	padding: 30px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.suscribete p {
	font-size: 25px;
	font-weight: bold;
}

.suscribete .text {
	padding: 8px;
	width: 280px;
}

.suscribete .btn {
	padding: 10px;
	background-color: #E8491D;
	border: none;
	color: white;
	cursor: pointer;
	margin-right: 20px;
	width: 100px;
}

.informacion {
	display: flex;
	justify-content: center;
	/* o usa space-around / space-evenly */
	gap: 60px;
	/* mejor que margin para separar */
	text-align: center;
	/* centrar texto e imágenes */
}

.tecnologias {
	width: 360px;
	margin: 40px 0;
}

.tecnologias img {
	width: 100px;
	margin-bottom: 10px;
}

.tecnologias h3 {
	margin: 10px;
}

.tecnologias p {
	margin: 10px 0;
}

footer {
	background-color: #1293D4;
	padding: 42px;
	color: #ffffff;
	text-align: center;
}